body{
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-weight: 10px;
    font-style: normal;
    margin: 0;
    min-height: 100vh;
    
    
    background-color: #fcfbf7; 
    
    background-image:
        radial-gradient(at 10% 20%, rgba(215, 238, 219, 0.7) 0%, transparent 50%),
        radial-gradient(at 80% 10%, rgba(140, 201, 144, 0.8) 0%, transparent 50%),
        radial-gradient(at 40% 80%, rgba(143, 224, 162, 0.822) 0%, transparent 50%),
        radial-gradient(at 90% 90%, rgba(253, 253, 249, 0.95) 0%, transparent 50%);
        
    background-attachment: fixed;   
    background-size: 300% 300%; 
    animation: floatMesh 30s ease-in-out infinite;
}


@keyframes floatMesh {
    0% {
        background-position: 0% 0%;
    }
    25% {
        background-position: 100% 0%;
    }
    50% {
        background-position: 100% 100%;
    }
    75% {
        background-position: 0% 100%;
    }
    100% {
        background-position: 0% 0%;
    }
}

.video-window> .controls-bar > div{
    width: 52px;
    height: 52px;
    display: flex;
    flex-direction: row !important;
    justify-content: center;
    align-items: center;
    background: rgba(255, 255, 255, 0.9);
    border-radius: 16px;
    cursor: pointer;
    transition: all 0.2s ease;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
} 

.video-window> .controls-bar > div:hover{
    transform: translateY(-4px);
    background: #ffffff;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}

.video-window > .controls-bar > div svg {
    width: 24px;
    height: 24px;
    transition: transform 0.2s ease;
}

.video-window > .controls-bar > div:hover svg {
    transform: scale(1.1);
}


#leave-btn {
    background: #ff4b4b !important;
}

#leave-btn:hover {
    background: #e60000 !important;
}

#leave-btn svg,
#leave-btn svg path {
    fill: #ffffff !important;
}

.hidden {
    display: none !important;
}